<!-- Loop over each object in the projects array -->
{{#each posts as |post| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
    <p>Created by {{post.user.username}} on {{format_date post.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{post.content}}
    </p>
  </div>
</div>
{{/each}}