<!-- Loop over each object in the projects array -->
{{#each playlists as |playlist| }}
<div class="row">
  <div class="col-md-5">
    <h2>
      <a href="/playlist/{{playlist.id}}">{{playlist.title}}</a>
    </h2>
    <p>Created by {{playlist.user.username}} on {{format_date playlist.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{#each playlist.animes as |anime|}}
      {{anime.anime_title}}

      {{/each}}
    </p>
    <a class="save-btn btn-floating hide" data-id="{{playlist.id}}"><i class="small material-icons">heart<span id="favorites-number">{{playlist.favorites}}</span></i></a>
  </div>
</div>
{{/each}}