{{!-- {{#each playlists as |playlist| }}
<div class="row mb-4 project">
    <div class="col-md-5">
        <h2>
            <a href="/post/{{playlist.id}}">{{playlist.title}}</a>
        </h2>
        <p>Created by {{playlist.user.username}} on {{format_date playlist.date_created}}</p>
    </div>
    <div class="col-md-7">
        <p>
            {{playlist.content}}
        </p>
    </div>
</div>

<p class="custom-hidden" id="{{playlist.id}}">{{playlist.id}}</p>
{{/each}}

<div class="row mb-4 project mt-5">
    <div class="col-md-5">
        <h2>Add A New Post</h2>
    </div>
    <div class="col-md-7">
        <form>
            <label>Post Title</label>
            <input type="text" id="post-title" class="w-100 custom-input-height" required>
            <label>Post Content</label>
            <input type="text" id="post-body" class="w-100 custom-input-height" required>
            <button id="new-post-form" class="mt-2 mb-2">Submit</button>
        </form>
    </div>
</div>

<script src="/js/new.js"></script> --}}