<div class="row">



    {{!-- Left side of page --}}
    <div class="container col s12 m4 l3" id="profile-info">
        <div class="container" id="profile-info">
            {{!-- Profile image --}}
            <img src="{{avatar}}" alt="Profile image" class="circle responsive-img">
            <p>{{username}}</p>
            <p>{{email}}</p>
        </div>
    </div>





    {{!-- Right side of page with playlists --}}
    <div class="container col s12 m8 l9">
        <h4>User Playlists</h4>

        <div>
            {{#each playlists as |playlist|}}  
            <div>
                <span class="row playlist-title" id="{{playlist.id}}">{{playlist.title}}</span>
                {{#each playlist.animes as |anime|}}
                <div class=" col s12 m6 l2 card" id="single-anime">
                    <div class="card-image waves-effect waves-block waves-light">
                        {{!-- Anime image --}}
                        <img class="activator" id="image_height" src={{anime.anime_image}}>
                    </div>
                    <div class="col s12 m6 l2 card-content">
                        {{!-- anime title --}}
                        <h6 class="card-title activator grey-text text-darken-4 flow-text title-nowrap">{{anime.anime_title}}
                        <i class="material-icons right">more_vert</i></h6>
                        {{!-- Anime link --}}
                        <p><a href="{{anime.watch_link}}">Watch!</a></p>
                    </div>
                    {{!-- Info after clicking on anime picture --}}
                    <div class="container col s12 m6 l3 card-reveal extraInfo">
                        <span class="container col card-title grey-text text-darken-4">{{anime.anime_title}}
                            <i class="material-icons right">close</i></span>
                        <p class="flow-text">{{anime.more_info}}</p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <a class="save-btn btn-floating hide" data-id="{{playlist.id}}"><i class="small material-icons">heart{{#each favorites as |favorite|}}<span id="favorites-number">0</span>{{/each}}</i></a>
        <button><a class="edit-btn btn-floating" data-id="{{playlist.id}}"><i class="small material-icons">edit</i></a></button>
        <a class="save-btn btn-floating hide" data-id="{{playlist.id}}"><i class="small material-icons">save</i></a>
        <button>
            <a class="btn-floating btn-large red delete-btn" data-id="{{playlist.id}}"><i
                    class="material-icons">remove</i></a>
        </button>
            {{/each}}
        </div>
    </div>
    <div class="container col s12 m8 l9">
        <h4>Favorited Playlists</h4>
        {{#each favorites as |favorite|}}
        <span class="col s12">{{favorite.playlist.title}}</span>
        {{!-- animes within favorited playlists --}}
        {{#each favorite.playlist.animes as |anime|}}
        <h6>{{anime.anime_title}}</h6>
        {{/each}}
        {{/each}}
    </div>
    <div class="container col s12 m8 l9">
        <div class="row mb-4 project mt-5">
            <div class="col-md-5">
                <h2>Add A New Post</h2>
            </div>
            <div class="col-md-7">
                <form>
                    <label>Post Title</label>
                    <input type="text" id="post-title" class="w-100 custom-input-height" required>
                    <label>Post Content</label>
                    <input type="text" id="post-body" class="w-100 custom-input-height" required>
                    <button id="new-post-form" class="mt-2 mb-2">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <script src="/js/deleteplaylist.js"></script>
    <script src="/js/edit-playlist.js"></script>
    <script src="/js/favorites.js"></script>