{{!-- accessing user info --}}
<h1>user info</h1>
<h4>{{username}}</h4>
<h4>{{email}}</h4>

{{!-- playlists owned by users --}}
<h1>playlists</h1>
{{#each playlists as |playlist|}}
<div class="container">
<h4>{{playlist.title}}</h4>

    {{!-- animes within owned playlists --}}
    {{#each playlist.animes as |anime|}}
    <h6>{{anime.anime_title}}</h6>

    {{/each}}
    <button>
     <a class="btn-floating btn-large red" id="delete-btn" data-id="{{playlist.id}}"><i class="material-icons">remove</i></a>
    </button>
</div>
{{/each}}

{{!-- favorites --}}
<h1>favorited playlists</h1>
{{#each favorites as |favorite|}}
<h4>{{favorite.playlist.title}}</h4>

    {{!-- animes within favorited playlists --}}
    {{#each favorite.playlist.animes as |anime|}}
    <h6>{{anime.anime_title}}</h6>

    {{/each}}
{{/each}}

<script src="/js/deleteplaylist.js"></script>