<!-- Loop over each object in the projects array -->
{{#each comments as |comment| }}  {{@index}}: {{1}} 
<h2>{{comment.content}}</h2>
{{!-- <div class="row">
  <div class="col-md-5">
    <h2>
      <a href="/playlist/{{playlist.id}}">{{playlist.title}}</a>
    </h2>
    <p>Created by {{playlist.user.username}} on {{format_date playlist.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{#each playlist.animes as |anime|}}
      {{anime.anime_title}}

      {{/each}}
    </p>
  </div>
</div> --}}
{{/each}}

{{!-- <!-- Loop over each object in the comments array -->
{{#each comments as |comment| }}
<div class="row mb-4 project">
    <div class="col-md-5">
        <p>Comment by {{comment.user.username}} on {{format_date comment.date_created}}</p>
    </div>
    <div class="col-md-7">
        <p>
            {{comment.content}}
        </p>
    </div>
</div>
{{/each}}

<div class="row mb-4 project mt-5">
    <div class="col-md-5">
        <h2>Add A Comment</h2>
    </div>
    <div class="col-md-7">
        <form>
            <input type="text" id="comment-body" class="w-100 custom-input-height">
            <button id="new-comment-form" class="mt-2 mb-2">Submit</button>
            <p id="post-id" class="custom-hidden">{{id}}</p>
        </form>
    </div>
</div>

<script src="/js/comment.js"></script> --}}