

<div class="col card" id="single-anime">
        <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{anime.anime_image}}">
        </div>
        <div class="col card-content">
        <span class="card-title activator grey-text text-darken-4">{{anime.anime_title}}<i class="material-icons right">more_vert</i></span>
        <p><a href="{{anime.watch_link}}">Watch this anime here!</a></p>
        </div>
        {{!-- Info after clicking on anime picture --}}
        <div class="col card-reveal">
        <span class="col card-title grey-text text-darken-4">{{anime.anime_title}}<i class="material-icons right">close</i></span>
        <p>{{anime.moreinfo}}</p>
        </div>


